.lateral{
    display: block;
    background: #426E21;
    width: auto;
}
ul a{
    border-radius: 0;
    color: white;
    padding: 20px;
    transition: 200ms all;
}

ul a:hover{
    background: #395e1c;
    font-size: larger;
}
.subBar{
    display: none;
    transition: 1s all;
    background: #426E21;
    cursor: pointer;
}
.subelemts{
    padding: 2px;
}
.subelements:hover{
    padding: 2px;
    
}
.act:hover .subBar{
    display: block;
}