<!--Esta es la tabla de actividades de administrador-->
<body>
  <section class="row">
    <!--panel de navegacion lateral-->
    <div class="col-md-2">
      <app-sidebar-adm></app-sidebar-adm>
    </div>
    <!--Tabla de Actividades o Eventos-->
    <div id="Contenido" class="col-md-10" *ngIf="userInfo[0].rol=='adm'">
      <!--Inicio de la tabla de Actividades-->
      <select [(ngModel)]="option" (change)="resetTable(option)">
        <option value="0">Actividades</option>
        <option value="1">Mis actividades</option>
        <option value="2">Actividaes Propuestas</option>
        <option value="3">Finalizadas</option>
      </select>
      <article class="tabla">
        
        <table class="eventos">
          <thead>
            <tr>
              <th class="numero">#</th>
              <th><p>Fecha</p></th>
              <th><p>Nombre</p></th>
              <th><p>Responsable</p></th>
              <th><p>Lugar</p></th>
              <th><p>Descripcion</p></th>
              <th><p>programa</p></th>
              <th *ngIf="option!=1" id="gestion"><p>Gestion</p></th>
            </tr>
          </thead>
          <tbody class="infoTab">
            <tr *ngFor="let item of actividadService.actividades">
              <td class="numero">{{ item.idAct }}</td>
              <td>{{ item.fecha | fechaEsp }}</td>
              <td>{{ item.nomAct }}</td>
              <td>{{ item.usr }}</td>
              <td>{{ item.nomLug }}</td>
              <td>{{ item.descripcion }}</td>
              <td >
                <a href="" target="_blank">
                  <i class="fa-sharp fa-regular fa-file"></i> </a
                >Ver archivo
              </td>
              <td *ngIf="option!=1">
                <button
                  *ngIf="option==0"
                  class="btn btn-secondary btn-sm"
                  (click)="updAct(item); mostrar(); Alerta(); Ocultar()"
                >
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button
                  class="btn btn-danger btn-sm"
                  (click)="delAct(item.idAct)"
                >
                  <i class="fa-solid fa-trash-can"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </article>
      <div class="contBoton">
        <button
          class="agregar"
          (click)="mostrar(); Alerta(); Ocultar(); showMap()"
          *ngIf="oculto"
        >
          Agregar Nueva
        </button>
      </div>
      <!--Bloque del Formulario-->
      <section class="agAct" *ngIf="visible" [ngClass]="{ visble: visible }">
        <div class="tituloForm">Gestionar Actividad</div>
        <form class="formulario" #actividadForm="ngForm">
          <div>
            <input
              type="hidden"
              name="idAct"
              [(ngModel)]="actividadService.actividad.idAct"
            />
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon2">Fecha:</span>
              <input
                name="fecha"
                type="date"
                id="basic-url"
                class="form-control"
                [(ngModel)]="actividadService.actividad.fecha"
              />
              <span class="input-group-text" id="basic-addon2"
                >Nombre de la Actividad:</span
              >
              <input
                name="nomAct"
                type="text"
                class="form-control"
                [(ngModel)]="actividadService.actividad.nomAct"
                id="basic-url"
              />
            </div>

            <label for="basic-url" class="form-label"></label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon3"
                >Responsable</span
              >
              <select
                name="idUsr"
                type="text"
                class="form-select"
                id="basic-url"
                aria-describedby="basic-addon3"
                [(ngModel)]="actividadService.actividad.idUsr"
              >
                <option
                  *ngFor="let user of userService.users"
                  [value]="user.idUsr"
                >
                  {{ user.idUsr }}. {{ user.usr }}
                </option>
              </select>
            </div>

            <label for="basic-url" class="form-label"></label>
            <div class="input-group mb-4">
              <span class="input-group-text" id="basic-addon3">Lugar</span>
              <!-- Esta opcion sirve para hacer que el mapa se muestre  usando la funcion mapBox-->
              <select
                (change)="mapBox(actividadService.actividad.idLug)"
          
                name="idLug"
                type="text"
                class="form-select"
                id="basic-url"
                aria-describedby="basic-addon3"
                [(ngModel)]="actividadService.actividad.idLug"
              >
                <option
                  *ngFor="let lugar of lugaresService.lugares"
                  [value]="lugar.idLug"
                >
                  {{ lugar.idLug }}. {{ lugar.nomLug }}
                </option>
                <option [value]="nuevaOp.idLug">
                  {{ nuevaOp.idLug }}. {{ nuevaOp.nomLug }}
                </option>
              </select>
              <div
                *ngIf="actividadService.actividad.idLug == 0"
                class="input-group mb-4"
              >
                <input
                  type="text"
                  name="nomLug"
                  type="text"
                  class="form-control"
                  [(ngModel)]="lugaresService.lugar.nomLug"
                  placeholder="Nombre del lugar"
                />
                <span class="input-group-text" id="basic-addon3"
                  >Ubicación</span
                >
                <input
                  type="text"
                  name="latitud"
                  type="text"
                  class="form-control"
                  [(ngModel)]="lugaresService.lugar.latitud"
                  placeholder="latitud"
                  [value]="coords?.lat"
                />
                <input
                  type="text"
                  name="longitud"
                  type="text"
                  class="form-control"
                  [(ngModel)]="lugaresService.lugar.longitud"
                  placeholder="longitud"
                  [value]="coords?.lng"
                />
              </div>
            </div>
            <div class="row">
              <!--Mapa "Aqui se muestra el mapa"-->
              <div
                class="col-md-10 scroll-smoth"
                #locSelect
                style="width: 600px; height: 400px; cursor: pointer;"
                [hidden]="!mapaVisble"
                id="mapContainer"
              ></div>
              <aside
                class="col-md-2"
                *ngIf="actividadService.actividad.idLug == 0"
              >
                <button
                  class="btn btn-primary"
                  style="width: 100px"
                  (click)="
                    actividadService.actividad.idLug =
                      this.lugaresService.lugares.length + 1;
                    agNuevoLug(actividadForm);
                    mapaVisble = false;
                    getAct()
                  "
                >
                  Añadir</button
                ><button
                  (click)="
                    actividadService.actividad.idLug = 1;
                    mapBox(actividadService.actividad.idLug)
                  "
                  class="btn btn-secondary"
                  style="width: 100px"
                >
                  Cancelar
                </button>
              </aside>
            </div>

            <span>Descripcion del evento</span>
            <div class="input-group">
              <textarea
                name="descripcion"
                class="form-control"
                aria-label="With textarea"
                [(ngModel)]="actividadService.actividad.descripcion"
              ></textarea>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon2"
                >Cargar Programa</span
              >
              <input
                type="file"
                class="form-control"
                aria-label="Amount (to the nearest dollar)"
              />
            </div>
          </div>
          <div class="confirmacion" *ngIf="alerta">
            <!--Botones de confirmacion y cancelacion-->
            <span>Desea guardar los cambios?</span>
            <div class="boton2">
              <button class="btn btn-secondary m-2" (click)="Alerta()">
                no
              </button>
              <button
                class="btn btn-primary m-2"
                (click)="
                  insAct(actividadForm);
                  mostrar();
                  Ocultar();
                  Alerta();
                  formReset(actividadForm);
                  mapBox(actividadService.actividad.idLug)
                "
              >
                si
              </button>
            </div>
          </div>
        </form>
        <button
          type="reset"
          class="btn btn-secondary m-2"
          (click)="formReset(actividadForm)"
        >
          <i class="fa-solid fa-broom-wide"></i>
          Limpiar
        </button>
        <div class="opciones">
          <button
            class="cancelar"
            (click)="
              mostrar();
              Alerta();
              Ocultar();
              formReset(actividadForm);
              mapBox(actividadService.actividad.idLug)
            "
          >
            Cancelar
          </button>
          <button class="guardar" (click)="Alerta()">Guardar</button>
        </div>
      </section>
    </div>
  </section>
</body>
